/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700&family=Prompt&family=Sigmar&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #fff;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.side-image{
    background-image: url("img/TEKNIK.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.side-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ubah alpha (nilai keempat) sesuai kebutuhan transparansi */
    border-radius: 10px 10px 0 0; /* Pastikan sesuai dengan border-radius dari side-image */
}

.row{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #2b3950;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 25px; 
}


.right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-box{
  width: 330px;
  box-sizing: border-box;
}
img{
    width: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    color: #fff;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    color: #fff;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #fff;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field input:focus ~ label
   {
    top: -10px;
    font-size: 13px;
  }
  .input-field input:valid ~ label
  {
   top: -10px;
   font-size: 13px;
   color: #ffffff;
 }
 .input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid rgba(49, 122, 201, 0.937);
 }

 .submit{
    border: none;
    outline: none;
    height: 45px;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
    transition: .4s;
    width: auto;
 }

 .submit:hover{
    background: rgba(49, 122, 201, 0.937);
    color: #fff;
 }

 .signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
    color: #fff;
}

.signin-google {
    display: flex; /* Menggunakan flexbox untuk mengatur elemen-elemen secara horizontal */
    align-items: center; /* Mengatur ikon dan teks agar berada di tengah secara vertikal */
    width: auto; 
    height: 45px;
    background: rgb(255, 255, 255);
    border: 1px solid #BCBCBC;
    border-radius: 8px;
    color: black;
    margin-top: 10px;
    padding: 0 10px; /* Menambahkan padding untuk memberikan ruang di sekitar ikon dan teks */
    gap: 25px;
}


.signin-google img {
    width: 25px; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
    margin-right: 25px; /* Menambahkan margin di sebelah kanan ikon untuk memberikan ruang antara ikon dan teks */
     /* Menempatkan gambar sebelah kiri teks */
}

.signin-google:hover{
    background: rgba(49, 122, 201, 0.937);
    color: #fff;
 }

span a{
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #ffffff;
}

@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 80%;
        text-align: center;
    }
    .text p, i{
        font-size: 16px;
    }
    .row{
        max-width:420px;
        width: 100%;
    }
    .signin-google {
        display: flex; 
        align-items: center; 
        gap: 10px;
    }
   
    .signin-google img {
        justify-content: center;
        position: absolute;
        left: 5%;
        margin: 5%;
        margin-top: 10px;
    }
}
